section ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }
  section ul li {
    float: left; }
section ul li img {
  margin-right: 10px;
  width: 80px;
  height: 80px; }
  section ul li img:hover {
    cursor: pointer; }
section input:checked + img {
  display: block; }
section div {
  clear: left; }
  section div input {
    display: none; }
  section div img {
    padding-top: 10px;
    width: 280px;
    height: 280px;
    display: none; }

